*{
    margin: 0;
    padding: 0px;
    background-color: rgb(2, 20, 3);
    font-family: fantasy; 
    box-sizing: border-box;
}
body{
    padding: 10px;
}
#logonav{
    display: none;
}

.container1{
    display: flex;
    position:  relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 99%;
    font-size: 1vw;
    background-color: rgb(2, 20, 3);
    padding: 5px;
}
.container1>h1{
    width: 100%;
    height: 12vh;
    color:  rgb(188, 226, 17);
    -webkit-text-stroke: 1px rgba(57, 197, 2, 0.76);
    font-size: 4vw;
}


.slider-frame {
	width: 100%;
    height: 30vw;
    margin: 0px;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 100%;
	
	animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100vw;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

#logo{
    display: flex;
    position: absolute;
    width: 10%;
    height: 15%;
    order: 2;
    align-self: flex-end;
    justify-content: flex-start;  
    object-fit: contain ;
}

.container2{    
    width: 110px;
    height: auto;
    position: relative;
    background-color: rgb(188, 226, 17);
    padding: 5px;
    
}
#table1{
    width: 100%;
}


.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    text-align: center;
    background-color: rgb(188, 226, 17);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.61); 
    
}

article>h3{
    background-color: rgb(188, 226, 17);
}
.container3>h2{

    background-color:transparent;   
}
.container3>h3{
    background-color: transparent;
}

.container4{
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 226, 17);
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-top: 1vw;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.61); 
    padding: 5px;
    justify-self:flex-start;
    align-self: flex-start;
}
#email{
    background-color: rgb(188, 226, 17);
}
#email>p{
    display: inline;
    background-color: rgb(188, 226, 17);
}
.email1{
    text-decoration: underline black;
    color: rgb(119, 189, 212)
}
.container4>p{
    background-color: rgb(188, 226, 17);
}

.container4>article{
    background-color: rgb(188, 226, 17);
}
.container4>h3{
    background-color: rgb(188, 226, 17);
}
main{
    display: flex;
    flex-direction: row;
    padding: 5px;
    flex-wrap: nowrap;
    justify-content:flex-start;
}
.mainsection{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2vw;
}
.nav1{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: fit-content;
}
#href1{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(2, 20, 3);
    color: rgb(188, 226, 17);
    padding: 5px 5px;   
    text-decoration: none;
    font-size: 100%;
    
}

.href2{
    display: flex;
    position: relative;
    width: 10vw;
    background-color: rgb(188, 226, 17);
    border: 1px solid rgb(2, 20, 3);
    color:  rgb(2, 20, 3);
    padding: 5px 5px;
    text-decoration: none;
    font-size: 100%;
    transition: 1s;
    border-radius: 10px;
        
}
.href2:hover{
    transform: translate(10%, -10%);
    height: 2vw;
    background: rgb(2, 20, 3);
    color: rgb(188, 226, 17);
    transition: all .2s;
}

/* TABLE */
.container4>table{
    background-color: rgb(188, 226, 17);
    table-layout: fixed;
    width: 100%;    
    border-collapse: collapse;
    
}
table, th, td{
    background-color: rgb(188, 226, 17);
    text-align: center;
}
.gamelista{
    background-color: rgb(188, 226, 17);
}
article>h4{
    background-color: transparent;
}
article>p{
    background-color: transparent;
}
.gamelista>li{
    background-color: rgb(188, 226, 17);
}
ul{
    list-style: none;
}

.container5{
    background-color: rgb(188, 226, 17);
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.61); 
    padding: 5px;
}
.container5>h3{
    background-color: rgb(188, 226, 17);
}
.container5>h4{
    background-color: rgb(188, 226, 17);
}
.container5>p{
    background-color: rgb(188, 226, 17);
}
dl, dd, dt{
    background-color: rgb(188, 226, 17);
}
dt>b{
    background-color: rgb(188, 226, 17);
}

/* LIST */
#lista1{
    background-color: rgb(188, 226, 17);
}
#lista1>li{
    text-indent: 20px;
    background-color: rgb(188, 226, 17);
}
#lista2{
    background-color: rgb(188, 226, 17);
}
#lista2>li{
    text-indent: 20px;
    background-color: rgb(188, 226, 17);
}

.container6{
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    background-color: rgb(188, 226, 17);
    box-shadow: 3px 3px rgba(128, 128, 128, 0.61);
    padding: 5px;
}
.container6>h4{
    background-color: rgb(188, 226, 17);
}
.container6>p{
    background-color: rgb(188, 226, 17);
}

article{
    margin-bottom: 10px;
}
article>p{
    text-indent: 20px;
}


/* FORMS */
/* form1 */
#form1{
    background-color: rgb(188, 226, 17);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 99%;
    padding: 2px;
}
#form1>label{
    background-color: rgb(188, 226, 17);
    width: 99%;
}
.form2>label{
    background-color: rgb(188, 226, 17);
    width: 99%;
}

#form1>input{
    background-color: rgb(188, 226, 17);
}
#form1>legend{
    background-color: rgb(188, 226, 17);
}
.form2>legend{
    background-color: rgb(188, 226, 17);
}
legend>b{
    background-color: rgb(188, 226, 17);
}

#gender{
    background-color: rgb(188, 226, 17);
    display: flex;
}
#gender>label{
    background-color: rgb(188, 226, 17);
}
#gender>p{
    background-color: rgb(188, 226, 17);
    
}
#st_add{
    background-color: rgb(188, 226, 17);
}
#st_add>label{
    background-color: rgb(188, 226, 17);
}
#cumpleaños{
    background-color: rgb(188, 226, 17);
}
#cumpleaños>label{
    background-color: rgb(188, 226, 17);
}
#grade{
    display: flex;
    
}
#grade>p{
    background-color: rgb(188, 226, 17);
}
#form1>div{
    background-color: rgb(188, 226, 17);
}
#full_name>label{
    background-color: rgb(188, 226, 17);
}
#full_name>input{
    background-color: rgb(188, 226, 17);
}
#grade{
    background-color: rgb(188, 226, 17);
}
#grade>label{
    background-color: rgb(188, 226, 17);
    pad: 5px;
}
#grade>input{
    padding: 10px
}
#city_zip>label{
    background-color: rgb(188, 226, 17);
}
#city_zip>input{
    background-color: rgb(188, 226, 17);
}

legend{
    text-decoration: underline;
}
#c_school>label{
    background-color: rgb(188, 226, 17);
}
#c_school>input{
    background-color: rgb(188, 226, 17);
}
label>b{
    background-color: rgb(188, 226, 17);
}
#c_school{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 10vh;
}
#form1>h6{
    background-color: rgb(188, 226, 17);
    font-size: 100%;
}
.form2>h6{
    background-color: rgb(188, 226, 17);
    font-size: 100%;
}
#form1>fieldset{
    background-color: rgb(188, 226, 17);
}
.form2{
    background-color: rgb(188, 226, 17);
    width: 100%;
}
.form2>div{
    background-color: rgb(188, 226, 17);
}
#usize>label{
    background-color: rgb(188, 226, 17);
}
#usize>input{
    background-color: rgb(188, 226, 17);
    width: 99%;
}
#position>label{
    background-color: rgb(188, 226, 17);
}
#position>input{
    background-color: rgb(188, 226, 17);
}
#permission{
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 226, 17);
    padding: 2px;
}
#permission>p{
    background-color: rgb(188, 226, 17);
}
#permission>label, input{
    background-color: rgb(188, 226, 17);
}
#submit{
    display: flex;
    align-self: flex-end;
    width: 5vw;
    height: 2vw;
    border: 2px solid rgb(2, 20, 3);
    margin-left: 54vw;
    text-align: center;
    justify-content: center;
    font-size: 1vw;
    box-shadow: 2px 2px black; 
}

/* MAPS */

.container7{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    background-color: rgb(188, 226, 17);
    box-shadow: 3px 3px rgba(128, 128, 128, 0.61); 
}

.maps{
    width: 15vw;
    height: 30vh;
    margin: 1vw;
}
.divmap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(188, 226, 17);
    font-size: 2vw;
    text-decoration: overline;
}
.divmap>h5{
    background-color: rgb(188, 226, 17);
}
/* BREAKPOINT 2 */
@media only screen and (max-width:768px) {
    .maps{
        width: 25vw;
        height: 25vw;
        margin: 10px;
    }
    .nav1{
        display: flex;
        flex-direction: column;
        position: static;
        width: 25vw;
        align-items: center;
        text-align: center;
    }
    .href2{
        width: 100%;
        text-align: center;
    }
    h1{
        height: 10vh;
    }
    .nav1>a{
        margin-top: 5px;
    }
    #logo{
        display: none;
    }
    .container1>h1{
        text-align: center;
        height: 8vh;
        font-size: 7vw;
    }
    #submit{
        display: flex;
        align-self: center;
        width: 10vw;
        height: 5vw;
        border: 2px solid rgb(2, 20, 3);
        margin-left: 54vw;
        text-align: center;
        justify-content: center;
        font-size: 3vw;
        box-shadow: 2px 2px black; 
    }
    #grade{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #usize{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #city_zip{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #full_name{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #st_add{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #logonav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vw;
    }
    .slider-frame {
        width: 100%;
        height: 30vh;
        margin: 0px;
        overflow: hidden;
    }
}

/* BREAKPOINT 1 */
@media only screen and (max-width:425px) {
    

    .nav1{
        display: flex;
        flex-direction: column;
        position: static;
        width: 25vw;
        align-items: center;
    }
    .nav1>a{
        margin-top: 5px;
    }
    #href1{
        /* margin-top: 5px; */
    }
    .href2{
        /* margin-top: 5px; */
        width: 100%;
    }
    h1{
        height: 10vh;
    }
    #logo{
        display: none;
    }
    #logonav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
    }
    .container1>h1{
        text-align: center;
        height: 8vh;
        font-size: 8vw;
    }
    #submit{
        display: flex;
        align-self: center;
        width: 10vw;
        height: 5vw;
        border: 2px solid rgb(2, 20, 3);
        margin-left: 54vw;
        text-align: center;
        justify-content: center;
        font-size: 3vw;
        box-shadow: 2px 2px black; 
    }
    #grade{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #usize{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #city_zip{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #full_name{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #st_add{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .maps{
        width: 25vw;
        height: 25vw;
        margin: 10px;
    }
    .divmap{
        font-size: 4vw;
    }
}


