*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 0vw;
}
  /* Titulo y primer imagen */
.container1{
    display: inline-block;
    margin-left: 10vw;
    font-size: 1vw;
    
}

.container1 img{
    
    width: 70vw;
    height: 30vw;
    
}

.container1 h1 {
    position: absolute;
    font-size: 3vw;
    
}


/* Upcoming events */
.container3{
    display: inline-block;
    position: relative;
    width: 70vw;
    margin-left: 10vw;
    background: black;
    color: white;
    text-align: center;
    
    
}

article{
    margin-bottom: 10px;
}

#email>p{
    display: inline;
}
#email1{
    text-decoration: underline black;
    color: rgb(119, 189, 212)
}
article>p{
    text-indent: 20px;
}

/* logo */
.container2{
    display: inline-block;
    position: absolute;
    right: 20vw;
    top: 27vw;
    z-index: 1;
    
}

#logo{
    width: 7vw;
    height: 7vw;
    z-index: 1;
}



/* navs */
.nav1{
    position: absolute;
    margin-left: 10vw;
    top: 35vw;
}

.nav1>a{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


#href1{
    text-decoration: none;
    color: black;
}

.container4{
    display: inline-block;
    width: 55vw;
    margin-left: 25vw;
    margin-top: 2vw;
}
