*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 0px;

}

.container1{
    position:  relative;
    margin-left: 10vw;
    width: 70vw;
    font-size: 1vw;
}

.container1 img{
    
    width: 70vw;
    height: 20vw;
    /* margin-left: 150px; */
}

.container2{    
    width: 110px;
    height: auto;
    position: relative;
    
}
#logo{
    position:absolute;
    top: 70px;
    margin-left: 10vw;
}

.container3{
    width: 70vw;
    border: 1px solid black;
    text-align: center;
    margin-left: 10vw;

}

#href1{
    display: inline-block;
    background-color: rgba(18, 241, 29, 0.74);
    border: 1px solid black;
    color: white;
    padding: 2px 5px;   
    text-decoration: none;
    box-shadow: 3px 5px rgba(128, 128, 128, 0.61);;
}

.href2{
    display: inline-block;
    background-color: rgba(24, 143, 255, 0.74);
    border: 1px solid black;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
    box-shadow: 3px 5px rgba(128, 128, 128, 0.61);;       
}

article{
    margin-bottom: 10px;
    

}
#email>p{
    display: inline;
}
#email1{
    text-decoration: underline black;
    color: rgb(119, 189, 212)
}
.nav1{
    position: absolute;
    margin-left: 10vw;
    right: 20vw;
    top: 2vw;
}

article>p{
    text-indent: 20px;
}

/* .nav1>a{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
} */

.container4{
    width: 60vw;
    border: 2px solid black;
    margin-left: 20vw;
    margin-top: 20px;

}